# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.env.bak/
env/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Pytest and coverage
.pytest_cache/
.coverage
htmlcov/
.tox/

# Environment variables
*.env

# Logs and temp files
*.log
*.swp
*.swo
*.bak
*.tmp

# OS-specific
.DS_Store
Thumbs.db

# Docker
*.tar
*.pid
*.sock
docker-compose.override.yml
