Flask
openai
chromadb
langchain
langchain-core
langchain-text-splitters
langchain_chroma
langchain-community
aiologger
aiofiles
langgraph
langgraph.checkpoint.sqlite
unstructured
markdown
langchain-openai
psycopg
psycopg-binary
langgraph.checkpoint.postgres